body{
    padding: 0;
    margin: 0;
    background-color:lightblue;
    
}

h1 {
    text-align:center;
}

h2 {
    text-align:center;
}

h3 {
    text-align:center;
}

.header {
    justify-content: center;
    display: flex;
    background-color: lightblue;
    height: 40vh;
    align-items: center;
}

.box .image img {
    height: 450px;
    width: 800px;
    margin: 20px 20px 2px 20px;
}

.box .btn {
    height: 40px;
    width: 800px;
    margin-left: 20px;
    margin-top: auto;
    font-size: 20px;
    background-color: orange;
    color: black;
}

.comment-box {
    justify-content: center;
    align-items: center;
}